# For more information about the properties used in
# this file, please see the EditorConfig documentation:
# http://editorconfig.org/
#
# Sensible EditorConfig defaults
# https://gist.github.com/matijs/662bf45dd4ec37b3a068
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{makefile, Makefile}]
indent_style = tab
