@import url('https://fonts.googleapis.com/css?family=BioRhyme&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap'); */



/*!
 * Marp / Marpit Uncover theme
 *
 * @theme uncover
 * @author Yuki Hattori
 *
 * @auto-scaling fittingHeader,math
 * @size 4:3 960px 720px
 */

section {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-wrap: nowrap;
  font-size: 40px;
  height: 720px;
  justify-content: center;
  /* letter-spacing: 3px; */
  line-height: 1.5;
  padding: 30px 70px;
  position: relative;
  text-align: center;
  width: 1280px;
  z-index: 0;
  background: #fdfcff;
  color: #202228;
}

section::after {
  align-items: flex-end;
  display: flex;
  font-size: 0.6em;
  height: 80px;
  justify-content: flex-end;
  padding: 30px;
  text-align: right;
  width: 80px;
}

section::after {
  /*
   * Gradient with hard stops has incorrect rendering in Firefox's PDF.js
   * @see https://github.com/mozilla/pdf.js/issues/10572
   */
  background: url("data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1 1" width="1" height="1"><path d="M0 1h1v-1Z" fill="rgba(32, 34, 40, 0.05)"/></svg>") no-repeat center center;
  background-size: cover;
  color: #202228;
  text-shadow: 0 0 5px #fdfcff;
}
section pre, section code {
  background: #f2f1f4;
  color: #202228;
}
section a {
  color: #009dd5;
}
section a:hover {
  color: #087eaa;
}
section h1 strong, section h2 strong, section h3 strong, section h4 strong, section h5 strong, section h6 strong {
  color: #33b1dd;
}
section header, section footer {
  color: rgba(32, 34, 40, 0.4);
  text-shadow: 0 1px 0 rgba(253, 252, 255, 0.8);
	text-align: left;
}
section mark {
  color: #009dd5;
  background: transparent;
}
section:not(.invert) {
  @import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/color-brewer.min.css');
}
section.invert {
  background: #202228;
  color: #fff;
  @import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/codepen-embed.min.css');
}
section.invert::after {
  /*
   * Gradient with hard stops has incorrect rendering in Firefox's PDF.js
   * @see https://github.com/mozilla/pdf.js/issues/10572
   */
  background: url("data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1 1" width="1" height="1"><path d="M0 1h1v-1Z" fill="rgba(255, 255, 255, 0.05)"/></svg>") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 5px #202228;
}
section.invert pre, section.invert code {
  background: #2b2d33;
  color: #fff;
}
section.invert a {
  color: #60d0f0;
}
section.invert a:hover {
  color: #88dcf4;
}
section.invert h1 strong, section.invert h2 strong, section.invert h3 strong, section.invert h4 strong, section.invert h5 strong, section.invert h6 strong {
  color: #80d9f3;
}
section.invert header, section.invert footer {
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 0 1px 0 rgba(32, 34, 40, 0.8);
}
section.invert mark {
  color: #60d0f0;
  background: transparent;
}
section > *:first-child, section[data-header] > :nth-child(2) {
  margin-top: 0;
}
section > *:last-child, section[data-footer] > :nth-last-child(2) {
  margin-bottom: 0;
}
section svg[data-marp-fitting='svg'] {
  max-height: 660px;
  --preserve-aspect-ratio: xMidYMid meet;
}
section p, section blockquote {
  margin: 0 0 15px 0;
}
section h1, section h2, section h3, section h4, section h5, section h6 {
  margin: 15px 0 30px 0;
  font-family: 'BioRhyme';
}
section h1 strong, section h2 strong, section h3 strong, section h4 strong, section h5 strong, section h6 strong {
  font-weight: inherit;
}
section h1 {
  font-size: 2em;
}
section h2 {
  font-size: 1.7em;
}
section h3 {
  font-size: 1.4em;
  letter-spacing: 2px;
}
section h4 {
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 500;
  color: #495057;
}
section h5 {
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 400;
  color: #495057;
}
section h6 {
  font-size: 0.7em;
  letter-spacing: 0px;
  margin: 0px auto;
  text-align: left;
  font-weight: 300;
  color: #495057;
}
section header, section footer {
  position: absolute;
  z-index: 1;
  left: 70px;
  right: 70px;
  font-size: 0.45em;
  letter-spacing: 1px;
}
section header {
  top: 30px;
}
section footer {
  bottom: 30px;
}
section a {
  text-decoration: none;
}
section a:hover {
  text-decoration: underline;
}
section ul, section ol {
  margin: 0 auto;
  text-align: left;
  font-size: 20px;
}
section > ul, section > ol {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 28px;
}


section pre, section code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  letter-spacing: 0;
  margin: -0.1em 0.1em 0.1em;
  padding: 0.1em;
}
section pre {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  line-height: 1.15;
  margin: 11px auto 6px auto;
  min-width: 95%;
	max-width: 95%;
	overflow: scroll;
  padding: 0.4em 0.6em;
  text-align: left;
}
section pre > code {
  margin: 0;
  padding: 0;
}
section table {
  border-collapse: collapse;
  margin: 0 auto 15px auto;
}
section table > thead > tr > td, section table > tbody > tr > td, section table > thead > tr > th, section table > tbody > tr > th {
  padding: 0.15em 0.5em;
}
section table > thead > tr > td, section table > thead > tr > th {
  border-bottom: 3px solid currentColor;
}
section table > tbody > tr:not(:last-child) > td, section table > tbody > tr:not(:last-child) > th {
  border-bottom: 1px solid currentColor;
}
section blockquote {
  font-size: 90%;
  line-height: 1.3;
  padding: 0 2em;
  position: relative;
  z-index: 0;
  color: #495057;
  text-align: left;
}
section blockquote::before, section blockquote::after {
  content: url('./assets/uncover-quote.svg');
  height: auto;
  pointer-events: none;
  position: absolute;
  width: 1em;
  z-index: -1;
}
section blockquote::before {
  left: 0;
  top: 0;
}
section blockquote::after {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}
section blockquote > *:last-child {
  margin-bottom: 0;
}
strong {
  color: #33b1dd;
}

em  {
  color: #6e2142;
  font-weight: bold;
  font-style: normal;
}

/* @import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css'); */
